
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
* {
  box-sizing: border-box;
}
.page-contain {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #E7F3F1;
  border: 0.75em solid white;
  padding: 2em;
  font-family: 'Open Sans', sans-serif;
}
.data-card {
  display: flex;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: #701555;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
}
.data-card h3 {
  color: #2E3C40;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #627084;
  transition: color 0.45s ease, border 0.45s ease;
}
.data-card h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.1em;
  transition: color 0.45s ease;
  margin-bottom: 2rem;
  margin-top: 0;
}
.data-card p {
  opacity: 0;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.8;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
  margin-top: 2rem;
}
.data-card .link-text {
  display: block;
  color: #627084;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  transition: color 0.45s ease;
  cursor: default;
}

.data-card .link-text:hover {
color: #701555;
}

.data-card .link-text svg {
  margin-left: 0.5em;
  transition: transform 0.6s ease;
}
.data-card .link-text svg path {
  transition: fill 0.45s ease;
}
.data-card:hover {
  background: #fa7a39;
  transform: scale(1.02);
}
.data-card:hover h3 {
  color: #FFFFFF;
  border-bottom-color: #627084;
}
.data-card:hover h4 {
  color: #FFFFFF;
}
.data-card:hover p {
  opacity: 1;
  transform: none;
}
.data-card:hover .link-text {
  color: #FFFFFF;
}
.data-card:hover .link-text svg {
  animation: point 1.25s infinite alternate;
}
.data-card:hover .link-text svg path {
  color: #701555;
}
@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}





































/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body{
    display: flex; justify-content: center;
    align-items: center; height: 100vh;
}

.card{
    width: 300px; position: relative;
    display: flex; justify-content: center; cursor: pointer;
}

.card-header, .card-footer{
    width: 95%;
    position: absolute;
    margin-bottom: 5px; padding: 7px 10px;
    display: flex; align-items: center;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    transform: translateY(-20px);
    opacity: 0; transition: all 0.4s;
}

.card-header {
    top: -30px;
    box-shadow: 0 -20px 20px rgba(0,0,0,0.089), 0 20px 20px rgba(0, 0, 0, 0.089);
}

.card-header div {padding-left: 8px;}
.card-header div p:nth-child(1) {
    font-size: 12px; font-weight: bold;
}
.card-header div p:nthchild(2) {
    font-size: 9px;
}

.card-header img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.card-body{
    width: 300px;
}

.card-body img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.247);
}

.card-footer{
    padding: 12px 0;
    justify-content: space-evenly;
    bottom: -20px;
    box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.089), rgba(0, 0, 0, 0.089);
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.4ms
   
}
.card:hover .card-footer, .card:hover .card-header {
    transform: translateY(0px);
    opacity: 1;
}

.card-footer i {
    color: rgba(59, 59, 59, 0.514);
    text-shadow: inset 0 0 10px rgba(255, 53, 53, .342);
} */























/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

/* *{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body{
    display: flex; justify-content: center;
    align-items: center; height: 100vh;
} */

/* .card{
    width: 300px; position: relative;
    display: flex; justify-content: center; cursor: pointer;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-header, .card-footer{
    width: 95%;
    position: absolute;
    margin-bottom: 5px; padding: 7px 10px;
    display: flex; align-items: center;
    background: #282c34;
    color: #606a71;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    transform: translateY(-20px);
    opacity: 0; transition: all 0.4s;
}

.card-header {
    top: -30px;
    box-shadow: 0 -20px 20px rgba(0,0,0,0.089), 0 20px 20px rgba(0, 0, 0, 0.089);
}

.card-header div {padding-left: 8px;}
.card-header div p:nth-child(1) {
    font-size: 12px; font-weight: bold;
}
.card-header div p:nthchild(2) {
    font-size: 9px;
}

.card-header img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.card-body{
    width: 300px;
}

.card-body img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.247);
}

.card-footer{
    padding: 12px 0;
    justify-content: space-evenly;
    bottom: -20px;
    box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.089), rgba(0, 0, 0, 0.089);
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.4ms
   
}
.card:hover .card-footer, .card:hover .card-header {
    transform: translateY(0px);
    opacity: 1;
}

.card-footer i {
    color: rgba(59, 59, 59, 0.514);
    text-shadow: inset 0 0 10px rgba(255, 53, 53, .342);
} */