#createPostDiv {
  display: flex;
  justify-content: space-evenly;
}

#createPost {
  color: #696969;

  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

input::placeholder {
  color: #606a71;
}

textarea:focus,
input:focus {
  color: #606a71;
  font-weight: bold;
}