#createPostDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#createPost {
  color: #696969;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input::placeholder {
  color: #606a71;
}

textarea:focus,
input:focus {
  color: #606a71;
  font-weight: bold;
}

/* input, */
select,
textarea {
  color: #606a71;
  font-weight: bold;
}

.postUl {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

.postsContainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.postLi {
  margin-bottom: 5rem;
}

@media (max-width: 800px) {
  .feed-column {
    width: 80vw;
  }
  #createPostDiv,
  #createPost {
    width: 80vw;
    max-height: 500px;
    height: 100%;
    flex-direction: column;
    margin-top: 3%;
  }
  .postUl,
  .postLi,
  .postsContainer {
    width: 90vw;
    margin-top: 3%;
  }
}
