.LiAndBar{
    display: flex;
    flex-direction: row;
}

#sideBar{
    display: flex;
    flex-direction: row;
    width: 10px;
    height: 50px;
    background-color: #701555;
    margin: 0;
}
<<<<<<< HEAD
=======

>>>>>>> 80cb701 (Point at which I took out the header component. Added Basis of accordian on the side. Still playing around with Navigation bar.)
