.LiAndBar {
  display: flex;
  flex-direction: row;
  color: #696969;
}

#sideBar {
  display: flex;
  flex-direction: row;
  width: 10px;
  height: 50px;
  color: #696969;
  background-color: #701555;
  margin: 0;
}