.post {
  color: #696969;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 200px;
  margin-bottom: 200px;
}

.postBottom {
  display: flex;
  justify-content: space-between;
}

.likeButton {
  transition: transform 0.2s;
  cursor: default;
}

.likeButton:hover {
  transform: scale(1.5);
}

.likeBlock {
  display: flex;
  flex-direction: row;
  z-index: +100;
}

.cardDateDiv {
  margin-top: 10px;
  color: #701555;
}

/* .postCard{

} */

.showCardDiv {
  display: flex;
  width: 600px;
  margin: 0 auto;
}

.tagButton {
  background-color: #701555;
  border: none;
  color: whitesmoke;
  height: 30px;
  font-family: Roboto Mono;
  font-weight: bold;
  margin-bottom: 3px;
}

.buttonTagDiv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

/* .deleteButton{
    background-color:#701555;
    color: #696969;
    font-family: Roboto Mono;
    font-weight: bold;
    border: none;
    font-size: ;
} */

/* .likeHeartImg{

  height: 20px;
  width: 20px;
} */

.heartEmoji {
  font-size: 30px;
}

.heartEmoji:hover {
  cursor: pointer;
}
