<<<<<<< HEAD
<<<<<<< HEAD
#backgroundColor {
  /* background-color: #1F2124; */
=======
#backgroundColor{
    /* background-color: #1F2124; */
>>>>>>> 7d23284 (88% of top bar done. Added lines, Added font-family, Fixed Logo. Added back in index.html)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
}

.col-2 {
  width: 20%;
  display: flex;
}

.col-6 {
  width: 70%;
}

.col-3 {
  width: 10%;
}
.col-6 {
  width: 60%;
  padding-right: 6rem;
}

.col-3 {
  width: 20%;
}
=======


.row{
    display: flex;
}

.col-2{
    width: 20%;
    display: flex;
    
}

.col-6{
    width: 70%;
}

.col-3{
    width: 10%;
}
>>>>>>> 8e43293 (Point at which I took out the header component. Added Basis of accordian on the side. Still playing around with Navigation bar.)
